a {
  text-decoration: underline !important;
  color: white !important;
}

.container {
  margin-top: 150px;
}

.container-fluid {
  max-width: 1440px;
  margin-top: 150px;
}

.vue-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #292d32;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  padding: 31px 48px;
  z-index: 10;
}

.logo-title {
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 0;
}

.align-left {
  text-align: left;
  color: white;
}

.row .card {
  border: 3px solid transparent;
  color: white;
  background-color: #292d32;
  cursor: pointer;
  border-radius: 16px !important;
}

.card:hover {
  box-shadow: 8px 8px 0px #702bfe;
}

.card:active {
  box-shadow: none;
  border: 3px solid #702bfe;
}

.card-body {
  border-radius: 10px;
  background-color: #292d32;
  padding: 12px;
}

.card-cover-img {
  width: 100%;
  height: 172px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.card-title {
  text-align: left;
  font-weight: 700;
  font-size: 28px;
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-text {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  max-height: 40px;
  overflow-y: hidden;
}

.desc-img {
  max-width: 300px;
}

.badge-item {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 2px 6px;
  margin-right: 10px;
}

.badge-icon {
  width: 7px;
  height: auto;
  margin-right: 2px;
}

.badge-text {
  font-weight: 500;
  font-size: 11px;
}

.badge-success {
  background-color: #039c55;
}

.badge-blue {
  background-color: #2c81fb;
}

.badge-purple {
  background-color: #702bfe;
}

.badge-red {
  background-color: #e81a0c;
}

.details .container {
  min-height: calc(100vh - 305px);
}

/* footer */
.vue-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 14px;
  background-color: #292d32;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  padding: 31px 48px;
  margin-top: 50px;
  z-index: 10;
}

.vue-footer p {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .vue-footer {
    display: block;
    text-align: center;
  }
}
